{% extends "base.html" %} {% block content %}
<h1>Wellcome</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt omnis quidem
  ipsam officia ab, quas rerum ea voluptates maxime id eos iusto accusantium
  tempore ex quibusdam, inventore dolores. Illo, fugiat?
</p>
<hr />
<h3>Tools</h3>
<h6><a href="/regression">Regression</a></h6>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit earum quas iste
  eum, ad dolorum sequi a ipsa omnis. Fuga cum doloremque enim placeat atque
  itaque labore a ab eaque!
</p>
<h6><a href="/optimization">Optimization</a></h6>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit earum quas iste
  eum, ad dolorum sequi a ipsa omnis. Fuga cum doloremque enim placeat atque
  itaque labore a ab eaque!
</p>
<h6><a href="/gem">General Equilibrium Models</a></h6>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit earum quas iste
  eum, ad dolorum sequi a ipsa omnis. Fuga cum doloremque enim placeat atque
  itaque labore a ab eaque!
</p>
<h6><a href="/ai">AI</a></h6>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit earum quas iste
  eum, ad dolorum sequi a ipsa omnis. Fuga cum doloremque enim placeat atque
  itaque labore a ab eaque!
</p>
{% endblock %}
