{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-3">
    <div class="custom-file m-2">
      {% if not summary_coeffs %}
      <form
        action="/api/regression/upload"
        method="POST"
        enctype="multipart/form-data"
      >
        <input
          type="file"
          class="custom-file-input m-2"
          id="inputGroupFile01"
          name="data"
        />
        <button type="submit" class="btn btn-primary">Go</button>
      </form>
      {% endif %}
    </div>

    {% if variables %}

    <form
      enctype="multipart/form-data"
      action="/api/regression/compute"
      class="d-flex flex-column m-2"
      method="POST"
      id="regression-form"
    >
      <label style="font-weight: bold" class="m-2">Dependent Variable</label>
      <select name="dependent">
        {% for variable in variables %}
        <option>{{variable}}</option>
        {% endfor %}
      </select>
      <label style="font-weight: bold" class="m-2">Independent Variables</label>

      {% for variable in variables %}
      <label for="{{variable}}"
        ><input
          type="checkbox"
          name="independent"
          value="{{variable}}"
        />{{variable}}</label
      >
      {% endfor %}
      <label style="font-weight: bold">Variable of Interest</label>
      <select name="interest">
        {% for variable in variables %}
        <option>{{variable}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary">Run</button>
    </form>
    <button onclick="location.href = '/regression'" class="btn btn-danger">
      Reset
    </button>

    {% endif %}
  </div>
  <div class="col-5">
    <div>{{graph | safe}}</div>
  </div>
  <div class="col-4">
    {{summary_ols | safe}}
    <hr />
    {{summary_coeffs | safe}}
    <hr />
    {{summary_reg | safe }}

    <script>
      $(".simpletable").removeClass("simpletable").addClass("table");
    </script>
  </div>

  <script>
    new DataTable("#myTable", {
      fixedColumns: true,
      paging: true,
      scrollCollapse: true,
      scrollX: 1000,
      scrollY: 400,
    });
  </script>
</div>

{% endblock %}
